<!DOCTYPE html>
<html lang="en">

<head>
<!--add page tag-->
  <title>Landing Page</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
   <!-- Our Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


  <!-- add d3 -->
  <script src="https://d3js.org/d3.v4.min.js"></script>

  <!-- add plotly -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>

<body>
    <!--Navigation Bar --> 
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand d-inline p-3 ml-5 bg-info text-white" href="/">United States Missing Persons</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" 
                     aria-haspopup="true" aria-expanded="false">
                     Graphs
                        </a> 
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/missingDemo">Demographics Comparison</a>
                            <a class="dropdown-item" href="/missingGender">Total Missing Person VS Gender</a>
                            <a class="dropdown-item" href="/missingState">Missing Persons by State</a>
                            <a class="dropdown-item" href="/monthToMonth">Month to Month Comparison</a>   
                        </div>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="/comparison">Comparison</a>
                    </li>
                </ul>  
            </div> 
        </div>
    </nav>

<!--Summary Page container-->

    <div class="container">
        <div class="row">
            <div class="col-md-7">
              <div class="col-md-12">
                <h1>Summary</h1>
                <hr>
                <!-- <div id="plot"></div> -->
                
                <!-- <img src="static/Resources/demo.png" align=left" alt="GenderTotal" id="landing-image"> -->
    
                <p>Missing person is an extremely complex issue that causes pain to hundreds of 
                    thousands of people every year around the world.
                    According to estimates from the World Health Organization (WHO),
                     over 600,000 people go missing every year.
                </p>

                <p>We wanted to analyze the data to look into demographic relationships of missing persons 
                    and assess if certain characteristics such as time of year, gender, race, age, location, 
                    are more likely to result in a missing person becoming a long-term missing person.
                </p>
                <h4>What We Learned</h4>
                <br>
                <li>Over 99% of missing persons are found or return home within 48 hours.</li>
                <li>A person remains on the missing persons file until they are found dead or alive. For
                    example, if 1000 people are reported missing, and 700 were found or returned home, only 300 
                    would show up on the misisng persons list for that year.</li>
                <li>Males are more likely than females to be missing persons.Native Americans and Blacks have higher
                    than normal rates of disappearance.</li>
                <li>Individuals in the late teens to early thirties are disproportionately likely to become missing.</li>
                <li>Missing people tend to disappear in warmer months, with a modest increase in the winter during the holidays.</li>
                <li>More sparsely populated states generally have higher rates of disappearance, but missing persons are tending to 
                    normalized toward the national average.</li>
              </div>
            </div>

<!--Visualization Page container-->

            <div class="col-md-5">
                <div class="col-md-12">
                    <h3>Visualizations</h3>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <a href="/missingDemo"><img src="static/Resources/demo.png" width="100%" alt="Demographics"></a>
                        </div>
                       
                        <div class="col-md-6">
                            <a href="/missingGender"><img src="static/Resources/missing_yr_gender.png" width="100%" alt="Gender"></a>                    
                        </div>

                        <div class="col-md-6">

                            <a href="/missingAge"><img class="pic" src="static/Resources/age.png" width="100%" alt="ageCompare"></a>
                        </div>
                        
                        <div class="col-md-6">
                            <a href="/monthToMonth"><img src="static/Resources/Radar.JPG" width="100%" alt="monthToMonth"></a>
                        </div>
                    </div>
                </div>
            </div>            
        </div>    
    </div>
        <!-- Footer -->
    <!-- <footer class="page-footer font-small footer-dark">
        <div class="footer-copyright text-center py-3">© Copyright Coding Bootcamp 2020
        </div>      
    </footer> -->
</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <!-- Our CSS -->
  <link  type="stylesheet" href="static/css/style.css">

</html>